@model KoreklarMVC.Models.Car

<div class="d-flex gap-5 justify-content-between mt-5">
    <div>
        <h2>@Model.Model @Model.Brand @Model.Year</h2>
        <img src="@Model.Image" style="display: block; height: 300px; width: 900px; object-fit: cover; margin: 5px 0" />
        <div class="d-flex gap-2 justify-content-between mt-3">
            <div style="font-size: 22px">
               <p style="border-bottom: 2px solid black; width: 100%;">@Model.Kilometers_Driven km</p>
                <p style="border-bottom: 2px solid black; width: 100%;">@Model.Color</p>
                <p style="border-bottom: 2px solid black; width: 100%;">@Model.Top_Speed km/t</p>
                <p style="border-bottom: 2px solid black; width: 100%;">@Model.FuelType</p>
            </div>
            <div style="font-size: 22px">
                <p style="border-bottom: 2px solid black; width: 100%;">Stand: @Model.Condition</p>
                <p style="border-bottom: 2px solid black; width: 100%;">@Model.Description</p>
                
            </div>
        </div>
    </div>
    <form class="d-flex flex-column justify-content-between">
        <h2>Vælg abonnement</h2>
        <div class="d-flex flex-column gap-2" style="padding: 10px; border: 2px solid black; height: 400px">
            <div class="d-flex gap-5">
                <input type="radio" />
                <h4> 1 månede / 200 kr.</h4>
            </div>
            <div class="d-flex gap-5">
                <input type="radio" />
                <h4> 3 måneder / 500 kr.</h4>
            </div>
            <div class="d-flex gap-5">
                <input type="radio" />
                <h4> 6 måneder / 800 kr.</h4>
            </div>
        </div>
        <button class="p-2">
            Opret abonnement
        </button>
    </form>

</div>
